body {
    font-family: Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #2e0606;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    color: #ffffff;
}

header .profile-picture-container {
    display: inline-block;
    width: 330px; /* You can adjust the width as needed */
    height: 330px; /* You can adjust the height as needed */
    overflow: hidden;
    border-radius: 10px;
    margin: 20px 0;
}

header .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activities, .current-project, .about-me {
    margin: 20px 0;
    padding: 10px;
}

.activities p, .current-project p, .about-me p {
    margin: 10px 0;
}

.activities a, .current-project a {
    color: #f26d7d;
    text-decoration: none;
}

.activities a:hover, .current-project a:hover {
    text-decoration: underline;
}

.about-me h2 {
    margin-bottom: 10px;
}

.activities-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin: 0 10px;
    min-width: 200px; 
    text-align: center;
}

.column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column li {
    margin-bottom: 5px;
}


footer {
    text-align: center;
    margin: 20px;
}

footer .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #f26d7d;
    border-radius: 5px;
    color: #f26d7d;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    line-height: 1;
}

footer .btn img{
    max-width:  100%;
    max-height: 100%;
    height: auto;
    width: auto;
    vertical-align: baseline;
}
footer .btn:hover {
    background-color: #f26d7d;
    color: #1d1d1d;
}

.resume {
    text-align: center;
}
.resume-btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #f26d7d;
    border-radius: 5px;
    color: #f26d7d;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.resume-btn:hover {
    background-color: #f26d7d;
    color: #1d1d1d;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .project-box {
    border: 2px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .project-box:hover {
    transform: scale(1.05);
  }
  
  .project-box h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #f26d7d;
  }
  
  .project-box p {
    margin: 0;
    color: #ffffff;
  }
